@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-size: 100%;
	}

	body {
		font-family: theme('fontFamily.sans-serif');
		color: theme('colors.neutral.950');
		background-color: theme('colors.neutral.50');
		font-weight: 400;
		line-height: theme('lineHeight.body');
		min-width: 100vw;
		min-height: 100vh;
	}

	*[data-focused],
	*[data-disabled] {
		outline: none;
	}

	*[data-focus-visible],
	*:focus-visible {
		outline: 2px solid theme('colors.primary.300');
		outline-offset: 2px;
	}

	*[data-pressed] {
		outline: 2px solid theme('colors.primary.300');
		outline-offset: 1px;
	}

	p {
		font-size: theme('fontSize.base');
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: theme('fontFamily.display');
		font-weight: 400;
		line-height: theme('lineHeight.heading');
	}

	h1 {
		font-size: theme('fontSize.3xl');
	}

	h2 {
		font-size: theme('fontSize.2xl');
	}

	h3 {
		font-size: theme('fontSize.xl');
	}

	h4 {
		font-size: theme('fontSize.lg');
	}

	h5 {
		font-size: theme('fontSize.md');
	}

	h6 {
		font-size: theme('fontSize.base');
	}

	small {
		font-size: theme('fontSize.sm');
	}

	.typo h1,
	.typo h2,
	.typo h3,
	.typo h4,
	.typo h5,
	.typo h6 {
		margin: 3rem 0 1.38rem;
	}

	.typo h1 {
		margin-top: 0;
	}

	.typo p {
		margin-bottom: 1rem;
	}
}
