:root {
  --theme-primary-0: 1 1 1;
  --theme-primary-50: 0.961 0.961 0.961;
  --theme-primary-100: 0.91 0.91 0.91;
  --theme-primary-200: 0.831 0.831 0.831;
  --theme-primary-300: 0.741 0.741 0.741;
  --theme-primary-400: 0.651 0.651 0.651;
  --theme-primary-500: 0.565 0.565 0.565;
  --theme-primary-600: 0.451 0.451 0.451;
  --theme-primary-700: 0.341 0.341 0.341;
  --theme-primary-800: 0.231 0.231 0.231;
  --theme-primary-900: 0.11 0.11 0.11;
  --theme-primary-950: 0.059 0.059 0.059;

  --theme-accent-50: 215deg 79% 95%;
  --theme-accent-100: 214deg 77% 85%;
  --theme-accent-200: 214deg 77% 75%;
  --theme-accent-300: 214deg 77% 64%;
  --theme-accent-400: 214deg 77% 54%;
  --theme-accent-500: 214deg 96% 44%;
  --theme-accent-600: 214deg 97% 36%;
  --theme-accent-700: 214deg 96% 28%;
  --theme-accent-800: 214deg 96% 20%;
  --theme-accent-900: 214deg 97% 12%;
  --theme-accent-950: 213deg 100% 4%;

  --theme-negative-50: 0.992 0.89 0.89;
  --theme-negative-100: 0.984 0.8 0.796;
  --theme-negative-200: 0.969 0.604 0.592;
  --theme-negative-300: 0.953 0.404 0.388;
  --theme-negative-400: 0.937 0.208 0.18;
  --theme-negative-500: 0.827 0.082 0.063;
  --theme-negative-600: 0.671 0.071 0.051;
  --theme-negative-700: 0.502 0.055 0.039;
  --theme-negative-800: 0.333 0.035 0.024;
  --theme-negative-900: 0.169 0.02 0.012;
  --theme-negative-950: 0.075 0.008 0.004;

  --theme-positive-50: 0.839 1 0.859;
  --theme-positive-100: 0.702 1 0.733;
  --theme-positive-200: 0.4 1 0.471;
  --theme-positive-300: 0.102 1 0.204;
  --theme-positive-400: 0 0.78 0.09;
  --theme-positive-500: 0 0.486 0.059;
  --theme-positive-600: 0 0.38 0.043;
  --theme-positive-700: 0 0.302 0.035;
  --theme-positive-800: 0 0.2 0.024;
  --theme-positive-900: 0 0.098 0.012;
  --theme-positive-950: 0 0.039 0.004;
}

:root[class~='dark'] {
  --theme-primary-0: 0 0 0;
  --theme-primary-950: 0.961 0.961 0.961;
  --theme-primary-900: 0.91 0.91 0.91;
  --theme-primary-800: 0.831 0.831 0.831;
  --theme-primary-700: 0.741 0.741 0.741;
  --theme-primary-600: 0.651 0.651 0.651;
  --theme-primary-500: 0.565 0.565 0.565;
  --theme-primary-400: 0.451 0.451 0.451;
  --theme-primary-300: 0.341 0.341 0.341;
  --theme-primary-200: 0.231 0.231 0.231;
  --theme-primary-100: 0.11 0.11 0.11;
  --theme-primary-50: 0.059 0.059 0.059;

  --theme-accent-50: 227deg 100% 97.3%;
  --theme-accent-100: 225deg 95.1% 92%;
  --theme-accent-200: 224deg 97% 86.9%;
  --theme-accent-300: 224deg 97.8% 81.8%;
  --theme-accent-400: 224deg 96.6% 76.7%;
  --theme-accent-500: 224deg 97.2% 71.6%;
  --theme-accent-600: 224deg 54.5% 58.6%;
  --theme-accent-700: 225deg 38.5% 45.9%;
  --theme-accent-800: 224deg 38.1% 32.9%;
  --theme-accent-900: 224deg 39.2% 20%;
  --theme-accent-950: 223deg 38.9% 7.1%;

  --theme-negative-950: 0.992 0.89 0.89;
  --theme-negative-900: 0.984 0.8 0.796;
  --theme-negative-800: 0.969 0.604 0.592;
  --theme-negative-700: 0.953 0.404 0.388;
  --theme-negative-600: 0.937 0.208 0.18;
  --theme-negative-500: 0.827 0.082 0.063;
  --theme-negative-400: 0.671 0.071 0.051;
  --theme-negative-300: 0.502 0.055 0.039;
  --theme-negative-200: 0.333 0.035 0.024;
  --theme-negative-100: 0.169 0.02 0.012;
  --theme-negative-50: 0.075 0.008 0.004;

  --theme-positive-950: 0.839 1 0.859;
  --theme-positive-900: 0.702 1 0.733;
  --theme-positive-800: 0.4 1 0.471;
  --theme-positive-700: 0.102 1 0.204;
  --theme-positive-600: 0 0.78 0.09;
  --theme-positive-500: 0 0.486 0.059;
  --theme-positive-400: 0 0.38 0.043;
  --theme-positive-300: 0 0.302 0.035;
  --theme-positive-200: 0 0.2 0.024;
  --theme-positive-100: 0 0.098 0.012;
  --theme-positive-50: 0 0.039 0.004;
}
