@tailwind base;

@layer base {
  :root {
    --theme-primary-0: 0 0% 100%;
    --theme-primary-50: 210 7.7% 94.9%;
    --theme-primary-100: 225 8.7% 91%;
    --theme-primary-200: 223 7.7% 82.2%;
    --theme-primary-300: 218 7.7% 72%;
    --theme-primary-400: 220 7.9% 62.9%;
    --theme-primary-500: 220 7.7% 54.1%;
    --theme-primary-600: 219 7.8% 42.9%;
    --theme-primary-700: 217 8% 32%;
    --theme-primary-800: 217 7.1% 22%;
    --theme-primary-900: 225 7.1% 11%;
    --theme-primary-950: 240 7.7% 5.1%;

    --theme-accent-50: 237 100% 95.9%;
    --theme-accent-100: 237 96.6% 88.4%;
    --theme-accent-200: 237 95.9% 81%;
    --theme-accent-300: 238 95.6% 73.5%;
    --theme-accent-400: 237 96.5% 66.3%;
    --theme-accent-500: 238 96.2% 58.8%;
    --theme-accent-600: 237 67.5% 48.2%;
    --theme-accent-700: 238 67.7% 37.6%;
    --theme-accent-800: 238 66.7% 27.1%;
    --theme-accent-900: 238 66.7% 16.5%;
    --theme-accent-950: 237 66.7% 5.9%;

    --theme-positive-50: 120 36% 95.1%;
    --theme-positive-100: 120 33.3% 85.9%;
    --theme-positive-200: 120 33.3% 77.1%;
    --theme-positive-300: 120 33.7% 68%;
    --theme-positive-400: 120 33% 59%;
    --theme-positive-500: 120 33.3% 50%;
    --theme-positive-600: 120 33% 41%;
    --theme-positive-700: 120 33.7% 32%;
    --theme-positive-800: 120 33.3% 22.9%;
    --theme-positive-900: 120 33.3% 14.1%;
    --theme-positive-950: 120 36% 4.9%;

    --theme-negative-50: 0 81% 95.9%;
    --theme-negative-100: 0 82.6% 91%;
    --theme-negative-200: 0 82.6% 82%;
    --theme-negative-300: 0 82.6% 72.9%;
    --theme-negative-400: 0 83.2% 64.9%;
    --theme-negative-500: 0 83.2% 55.7%;
    --theme-negative-600: 0 83.4% 44.9%;
    --theme-negative-700: 0 83.3% 32.9%;
    --theme-negative-800: 0 83.9% 22%;
    --theme-negative-900: 0 82.1% 11%;
    --theme-negative-950: 0 80.6% 6.1%;

    --theme-info-50: 215 90.5% 95.9%;
    --theme-info-100: 217 90.2% 92%;
    --theme-info-200: 216 90.2% 83.9%;
    --theme-info-300: 217 91.8% 76.1%;
    --theme-info-400: 217 91.4% 68%;
    --theme-info-500: 217 91.2% 59.8%;
    --theme-info-600: 217 91% 48%;
    --theme-info-700: 217 91.3% 36.1%;
    --theme-info-800: 217 91.8% 23.9%;
    --theme-info-900: 218 90.3% 12.2%;
    --theme-info-950: 216 93.3% 5.9%;
  }

  :root[data-theme='dark'] {
    --theme-primary-950: 210 7.7% 94.9%;
    --theme-primary-900: 225 8.7% 91%;
    --theme-primary-800: 223 7.7% 82.2%;
    --theme-primary-700: 218 7.7% 72%;
    --theme-primary-600: 220 7.9% 62.9%;
    --theme-primary-500: 220 7.7% 54.1%;
    --theme-primary-400: 219 7.8% 42.9%;
    --theme-primary-300: 217 8% 32%;
    --theme-primary-200: 217 7.1% 20%;
    --theme-primary-100: 225 7.1% 14%;
    --theme-primary-50: 240 7.7% 10.1%;
    --theme-primary-0: 240 7.7% 5.1%;

    --theme-accent-950: 240 88.2% 96.7%;
    --theme-accent-900: 238 84.2% 92.5%;
    --theme-accent-800: 238 86% 88.8%;
    --theme-accent-700: 238 84.4% 84.9%;
    --theme-accent-600: 238 85.6% 81%;
    --theme-accent-500: 238 84.6% 77.1%;
    --theme-accent-400: 238 44.6% 63.9%;
    --theme-accent-300: 238 25.9% 50.8%;
    --theme-accent-200: 238 25.4% 37.8%;
    --theme-accent-100: 238 25.4% 24.7%;
    --theme-accent-50: 236 25.4% 11.6%;

    --theme-positive-950: 120 36% 95.1%;
    --theme-positive-900: 120 33.3% 85.9%;
    --theme-positive-800: 120 33.3% 77.1%;
    --theme-positive-700: 120 33.7% 68%;
    --theme-positive-600: 120 33% 59%;
    --theme-positive-500: 120 33.3% 50%;
    --theme-positive-400: 120 33% 41%;
    --theme-positive-300: 120 33.7% 32%;
    --theme-positive-200: 120 33.3% 22.9%;
    --theme-positive-100: 120 33.3% 14.1%;
    --theme-positive-50: 120 36% 4.9%;

    --theme-negative-950: 0 81% 95.9%;
    --theme-negative-900: 0 82.6% 91%;
    --theme-negative-800: 0 82.6% 82%;
    --theme-negative-700: 0 82.6% 72.9%;
    --theme-negative-600: 0 83.2% 64.9%;
    --theme-negative-500: 0 83.2% 55.7%;
    --theme-negative-400: 0 83.4% 44.9%;
    --theme-negative-300: 0 83.3% 32.9%;
    --theme-negative-200: 0 83.9% 22%;
    --theme-negative-100: 0 82.1% 11%;
    --theme-negative-50: 0 80.6% 6.1%;

    --theme-info-950: 215 90.5% 95.9%;
    --theme-info-900: 217 90.2% 92%;
    --theme-info-800: 216 90.2% 83.9%;
    --theme-info-700: 217 91.8% 76.1%;
    --theme-info-600: 217 91.4% 68%;
    --theme-info-500: 217 91.2% 59.8%;
    --theme-info-400: 217 91% 48%;
    --theme-info-300: 217 91.3% 36.1%;
    --theme-info-200: 217 91.8% 23.9%;
    --theme-info-100: 218 90.3% 12.2%;
    --theme-info-50: 216 93.3% 5.9%;
  }
}
