:root {
  --theme-primary-0: 1 1 1;
  --theme-primary-50: 0.961 0.961 0.961;
  --theme-primary-100: 0.91 0.91 0.91;
  --theme-primary-200: 0.831 0.831 0.831;
  --theme-primary-300: 0.741 0.741 0.741;
  --theme-primary-400: 0.651 0.651 0.651;
  --theme-primary-500: 0.565 0.565 0.565;
  --theme-primary-600: 0.451 0.451 0.451;
  --theme-primary-700: 0.341 0.341 0.341;
  --theme-primary-800: 0.231 0.231 0.231;
  --theme-primary-900: 0.11 0.11 0.11;
  --theme-primary-950: 0.059 0.059 0.059;

  --theme-accent-50: 237 100% 95.9%;
  --theme-accent-100: 237 96.6% 88.4%;
  --theme-accent-200: 237 95.9% 81%;
  --theme-accent-300: 238 95.6% 73.5%;
  --theme-accent-400: 237 96.5% 66.3%;
  --theme-accent-500: 238 96.2% 58.8%;
  --theme-accent-600: 237 67.5% 48.2%;
  --theme-accent-700: 238 67.7% 37.6%;
  --theme-accent-800: 238 66.7% 27.1%;
  --theme-accent-900: 238 66.7% 16.5%;
  --theme-accent-950: 237 66.7% 5.9%;

  --theme-negative-50: 0.992 0.89 0.89;
  --theme-negative-100: 0.984 0.8 0.796;
  --theme-negative-200: 0.969 0.604 0.592;
  --theme-negative-300: 0.953 0.404 0.388;
  --theme-negative-400: 0.937 0.208 0.18;
  --theme-negative-500: 0.827 0.082 0.063;
  --theme-negative-600: 0.671 0.071 0.051;
  --theme-negative-700: 0.502 0.055 0.039;
  --theme-negative-800: 0.333 0.035 0.024;
  --theme-negative-900: 0.169 0.02 0.012;
  --theme-negative-950: 0.075 0.008 0.004;

  --theme-positive-50: 0.839 1 0.859;
  --theme-positive-100: 0.702 1 0.733;
  --theme-positive-200: 0.4 1 0.471;
  --theme-positive-300: 0.102 1 0.204;
  --theme-positive-400: 0 0.78 0.09;
  --theme-positive-500: 0 0.486 0.059;
  --theme-positive-600: 0 0.38 0.043;
  --theme-positive-700: 0 0.302 0.035;
  --theme-positive-800: 0 0.2 0.024;
  --theme-positive-900: 0 0.098 0.012;
  --theme-positive-950: 0 0.039 0.004;
}

:root[class~='dark'] {
  --theme-primary-0: 0 0 0;
  --theme-primary-950: 0.961 0.961 0.961;
  --theme-primary-900: 0.91 0.91 0.91;
  --theme-primary-800: 0.831 0.831 0.831;
  --theme-primary-700: 0.741 0.741 0.741;
  --theme-primary-600: 0.651 0.651 0.651;
  --theme-primary-500: 0.565 0.565 0.565;
  --theme-primary-400: 0.451 0.451 0.451;
  --theme-primary-300: 0.341 0.341 0.341;
  --theme-primary-200: 0.231 0.231 0.231;
  --theme-primary-100: 0.11 0.11 0.11;
  --theme-primary-50: 0.059 0.059 0.059;

  --theme-accent-50: 235 100% 97.8%;
  --theme-accent-100: 238 93.5% 93.9%;
  --theme-accent-200: 238 96.1% 90%;
  --theme-accent-300: 238 97.1% 86.3%;
  --theme-accent-400: 237 95.6% 82.2%;
  --theme-accent-500: 238 96.4% 78.4%;
  --theme-accent-600: 238 47.3% 64.3%;
  --theme-accent-700: 237 26.8% 50.2%;
  --theme-accent-800: 239 26.1% 36.1%;
  --theme-accent-900: 238 26.8% 22%;
  --theme-accent-950: 240 25% 7.8%;

  --theme-negative-950: 0.992 0.89 0.89;
  --theme-negative-900: 0.984 0.8 0.796;
  --theme-negative-800: 0.969 0.604 0.592;
  --theme-negative-700: 0.953 0.404 0.388;
  --theme-negative-600: 0.937 0.208 0.18;
  --theme-negative-500: 0.827 0.082 0.063;
  --theme-negative-400: 0.671 0.071 0.051;
  --theme-negative-300: 0.502 0.055 0.039;
  --theme-negative-200: 0.333 0.035 0.024;
  --theme-negative-100: 0.169 0.02 0.012;
  --theme-negative-50: 0.075 0.008 0.004;

  --theme-positive-950: 0.839 1 0.859;
  --theme-positive-900: 0.702 1 0.733;
  --theme-positive-800: 0.4 1 0.471;
  --theme-positive-700: 0.102 1 0.204;
  --theme-positive-600: 0 0.78 0.09;
  --theme-positive-500: 0 0.486 0.059;
  --theme-positive-400: 0 0.38 0.043;
  --theme-positive-300: 0 0.302 0.035;
  --theme-positive-200: 0 0.2 0.024;
  --theme-positive-100: 0 0.098 0.012;
  --theme-positive-50: 0 0.039 0.004;
}
